*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}


.container .fab{
  color: blue;
  font-size: 80px;
}

.notify::before{
  position: absolute;
  content : attr(data-count);
  top: -12px;
  right:-8px;
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  padding: 5px 12px;
  background: linear-gradient(#ff1a1a, #ff0000, #e60000);
  border-radius: 50px;
  line-height: 100%;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  opacity: 0;
  transition: opacity 0.1s ease-out;
  animation: animate 0.9s ease-out infinite;
}

@keyframes animate{
  0%{
    transform : scale(1);
  }

  100%{
    transform : scale(1.09);
  }
}

.notify.add-numb::before{
  opacity: 1;
}

.btn{
  position: absolute;
  left: -25px;
  top: 100px;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #fff;
  border: 1px solid #111755;
  background: #1a237e;
  line-height: 40px;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
}

.btn:hover{
  background: #161d6a;
}
